# Rectify the code in each cell and **explain the error in comments**

### index error

In [ ]:
mylist=[14, "hello", 967]
mylist[0] # l'index 6 n'existe pas, on a que les indexes 0 1 2

14

In [ ]:
import pandas as pd #ON doit ajouter as pd on met pas de majuscule
import numpy as np  #l'ecriture de Numpy etait fausse et on peut ajouter np on met pas de majuscule

# syntax error

In [ ]:
print("python errors") #apres les prints on doit mettre des parentheses et le Print s'ecrit en miniscule

python errors

# key error

In [ ]:
mydictionnary={True:"hello",False:"bye", '3':"python"}
mydictionnary[True] # On doit enlever les guillemets car c'est une key

'hello'

# indentation error

In [ ]:
i=14
while i<78:   # Apres les deux points on doit mettre une indentation
  print(i)
  i+=1

14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77

# StopIteration

In [ ]:

it=iter([1,2,3]) # ON doit iterer quer 3 fois et pas 4 car on a que 3 valeurs
next(it) 
next(it)
next(it)

3

# TypeError

In [ ]:
15+15 # ON ne peut pas additioner une chaine de caractere et un int soit on fait une cocatenation soit on additionne

30

# ValueError

In [ ]:
str('python') # ON ne peut pas convertir une chaine de caractere en int donc on met str

'python'

# NameError

In [ ]:
a="python" # 'python' n'est pas definit on doit le mettre a l'interieure d'une variable et on met les guillemets car c'est une str

# ZeroDivisionError

In [ ]:
x=0/19 #les divions par 0 n'existe pas  donc on inverse